<div class="d-flex">

  <!-- Sidebar -->
  <app-teachersidebar></app-teachersidebar>

  <!-- Main -->
  <div class="flex-grow-1 p-4 bg-light">

    <div class="top-bar">
      <div class="title">
        <h3>Add Student</h3>
        <p>Add student to your assigned classes</p>
      </div>
    </div>

    <div class="card p-4 border-0 rounded-4 shadow-sm">

      <form (ngSubmit)="onSubmit()">
        <div class="row g-3">

          <div class="col-md-6">
            <label>User Name</label>
            <input class="form-control" [(ngModel)]="studentData.username" name="username" required minlength="3"
              #usernameRef="ngModel">
            @if (usernameRef.invalid && usernameRef.touched) {
            <small class="text-danger">
              @if (usernameRef.errors?.['required']) {
              Username is required
              }
              @if (usernameRef.errors?.['minlength']) {
              Minimum 3 characters required
              }
            </small>
            }
          </div>

          <div class="col-md-6">
            <label> Name</label>
            <input class="form-control" [(ngModel)]="studentData.name" name="name" required minlength="3"
              #nameRef="ngModel">
            @if (nameRef.invalid && nameRef.touched) {
            <small class="text-danger">
              @if (nameRef.errors?.['required']) {
              Name is required
              }
              @if (nameRef.errors?.['minlength']) {
              Minimum 3 characters required
              }
            </small>
            }
          </div>

          <div class="col-md-6">
            <label>Roll No</label>
            <input class="form-control" [(ngModel)]=" studentData.rollNo" name="rollNo" required #rollNoRef="ngModel">
            @if (rollNoRef.invalid && rollNoRef.touched) {
            <small class="text-danger">
              @if (rollNoRef.errors?.['required']) {
              Roll No is required
              }
            </small>
            }
          </div>

          <div class="col-md-6">
            <label>Assigned Class</label>
            <select class="form-select" [(ngModel)]="studentData.classId" name="classId" required>

              @if (classes.length === 0) {
              <option value="">No classes assigned to you</option>
              } @else {
              <option value="">Select Assigned Class</option>

              @for (class of classes; track class._id) {
              <option [value]="class._id">
                {{ class.Class }} {{ class.Division }} ({{ class.AcademicYear }})
              </option>
              }
              }

            </select>

            @if (classes.length === 0) {
            <small class="text-muted">
              Ask admin to assign classes to you first
            </small>
            }

            @if (classes.length > 0) {
            <small class="text-muted">
              Only your assigned classes are shown
            </small>
            }
          </div>

          <div class="col-md-6">
            <label>Password</label>

            <input type="password" class="form-control" [(ngModel)]="studentData.password" name="password" required
              minlength="3" #passwordRef="ngModel">

            @if (passwordRef.invalid && passwordRef.touched) {
            <small class="text-danger">
              @if (passwordRef.errors?.['required']) {
              Password is required
              }
              @if (passwordRef.errors?.['minlength']) {
              Minimum 3 characters required
              }
            </small>
            }
          </div>


          <div class="col-md-12 text-end mt-3">
            <button type="submit" class="btn btn-primary">
              Add Student
            </button>
          </div>

        </div>
      </form>

    </div>

  </div>

</div>