<div class="d-flex min-vh-100">

  <!-- Sidebar -->
  <app-teachersidebar></app-teachersidebar>

  <!-- Main -->
  <div class="flex-grow-1 p-4 bg-light">

    <!-- Header -->
    <div class="top-bar mb-4">
      <div class="title">
        <h3>Teacher Dashboard</h3>
        <p>Your classes and students</p>
      </div>
    </div>

    <!-- Loading / Stats -->

    <div class="row g-4">
      <div class="col-md-3">
        <div class="card stat-card bg-primary text-white">
          <h6>My Classes</h6>
          @if (myClasses.length > 0) {
          @for (cls of myClasses; track cls._id) {
          <div>
            <h2>{{ cls.Class }} {{ cls.Division }}
              ({{ cls.AcademicYear }})</h2>
          </div>
          }
          } @else {
          <div class="alert alert-info">
            You are not assigned to any classes yet.
          </div>
          }

        </div>
      </div>
    </div>



    <!-- Actions -->
    <div class="row mt-5 g-4">

      <div class="col-md-6">
        <div class="action-card">
          <h5>Add Students</h5>
          <p>Add students to your classes.</p>
          <button class="btn btn-primary" routerLink="/addstudents">Open</button>
        </div>
      </div>

      <div class="col-md-6">
        <div class="action-card">
          <h5>Mark Attendance</h5>
          <p>Record daily student attendance.</p>
          <button class="btn btn-primary" routerLink="/markattendance">Open</button>
        </div>
      </div>

      <div class="col-md-6">
        <div class="action-card">
          <h5>Enter Exam Marks</h5>
          <p>Add or update student exam results.</p>
          <button class="btn btn-primary" routerLink="/entermarks">Open</button>
        </div>
      </div>

      <div class="col-md-6">
        <div class="action-card">
          <h5>View Students</h5>
          <p>Manage student list for your classes.</p>
          <button class="btn btn-primary" routerLink="/teacherviewstudents">Open</button>
        </div>
      </div>

      <div class="col-md-6">
        <div class="action-card">
          <h5>Leave Requests</h5>
          <p>Review and approve student leave applications.</p>
          <button class="btn btn-primary" routerLink="/viewleave">Open</button>
        </div>
      </div>

      <div class="col-md-6">
        <div class="action-card">
          <h5>Attendance Reports</h5>
          <p>View and export attendance data.</p>
          <button class="btn btn-primary" routerLink="/attendancereport">Open</button>
        </div>
      </div>

    </div>

  </div>
</div>